<div class="side-bar-header">
    <div class="header-name">
      <%= link_to "snow chat", root_path %>
  </div>
</div>

<div class="rooms">
    <% @rooms.each do |room| %>
      <div class="room">
        <div class="room-name">
          <%= link_to room.name, room_messages_path(room) %>
        </div>
      </div>
  <% end %>
  <div class="room">
    <div class="room-name">
      <%= link_to "更新履歴", root_path %>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <%= link_to "お得情報", root_path %>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <%= link_to "スキー場 リンク", root_path %>
    </div>
  </div>
  <% if user_signed_in? && current_user.admin? %>
    <div class="room">
      <div class="room-name">
        <%= link_to "管理ページ", new_room_path %>
      </div>
    </div>
  <% end %>
</div>