<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <% if user_signed_in? %>
        <div class="nav__right">
          <%= link_to current_user.name, edit_user_path(current_user) %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </div>
      <% else %>
        <div class="nav__right">
          <%= link_to "ログイン", new_user_session_path %>
          <%= link_to "新規登録", new_user_registration_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="top-main">
  <%# <%= image_tag "25744580_l.jpg", class:"top-image" %>
  <%# <span class="top-title">スキー場の情報交換やコミニュケーションを目的にしたアプリケーションになります。<span> %>
</div>
  
  <div class="service-items">
        <div class="service-item">
          <div class="service-image">
            <%= link_to image_tag asset_path("snow_silhouette.jpeg"),root_path%>
          </div>
          <div class="service-text">
              <%= link_to "更新履歴", root_path, class:"service-text__main" %>
            <div class="service-text__sub">
              変更内容を随時更新。
            </div>
          </div>
        </div>

        <div class="service-item">
          <div class="service-image">
            <%= link_to image_tag asset_path("ticket_silhouette.jpeg"), root_path %>
          </div>
          <div class="service-text">
            <div class="service-text__main">
              <%= link_to "お得情報", root_path, class:"service-text__main" %>
            </div>
            <div class="service-text__sub">
              割引情報・周辺施設の情報など。
            </div>
          </div>
        </div>

        <div class="service-item">
          <div class="service-image">
            <%= link_to image_tag asset_path("mountain_silhouette.jpeg"), root_path %>
          </div>
          <div class="service-text">
            <div class="service-text__main">
              <%= link_to "スキー場リンク", root_path, class:"service-text__main" %>
            </div>
            <div class="service-text__sub">
              各種スキー場のリンクページ。
            </div>
          </div>
        </div>
      </div>
    </div>
